<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Table</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="questions" class="table table-bordered" style="width: 100%">
                <tr th:each="test:${testList}" th:if="${userId == test.user.id or userRole=='STUDENT'}">
                    <td th:text="${test.testName}"></td>
                    <td th:text="${test.studySubjectList.name}"></td>
                    <td>
                        <form th:action="@{/studentesting/} + ${{test.id}}" method="get">
                            <button th:id="'table_entry_childs_button_' + ${test.id}" type="submit">Start test</button>
                        </form>
                    </td>
                    <td th:if="${userRole=='TEACHER' or userRole=='ADMINLEARNINGPROCESS'}">
                        <form th:action="@{/testpage/} + ${{test.id}}" method="get">
                            <button th:id="'table_entry_childs_button_' + ${test.id}" type="submit">Update test</button>
                        </form>
                    </td>
                    <td th:if="${userRole=='TEACHER' or userRole=='ADMINLEARNINGPROCESS'}">
                        <form th:action="@{/studentsstatistic/} + ${{test.id}}" method="get">
                            <button th:id="'table_entry_childs_button_' + ${test.id}"
                                    type="submit">Student Statistic
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>