<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Login</title>
</head>
<body>
<form th:action="@{/usercreate}" th:object="${user}" method="POST">
    <h1>Registration</h1>
    <div class="container">
        <label> Name </label>
        <input type="text" name="userlogin" th:field="*{name}" placeholder="Name" size="15" required/>
        <label> Password: </label>
        <input type="text" name="password" th:field="*{password}" placeholder="Password" size="15" required/>
        <label>Role</label>
        <select name="userrole">
            <option th:each="roles : ${T(com.example.testingsystem.users.Roles).values()}"
                    th:value="${roles}" th:text="${roles}"></option>
        </select>
        <label> Group: </label>
    </div>
    <button type="submit">Registration</button>
</form>
</body>
</html>